__pycache__/
*.pyc
.pytest_cache/
.DS_Store

data/assets/
data/public_sources/
data/incoming/
data/sft_materialized/
data/eval_generated/generated_eval_v1/

outputs/
outputs_v2/
eval_runs_export_full/
downloads/
models/
patcid/

*.zip
*.safetensors
*.bin
*.pt
*.pth
*.ckpt
*.tar
*.tar.gz
*.7z
*.rar

.tmp_*
*.pem
*.key
*.log
